body {
    font-family: Arial, sans-serif;
    background-image: url("https://t4.ftcdn.net/jpg/03/90/66/17/360_F_390661775_BY3omV6LTS2064GbghxN9MBxgp4oV67W.jpg");
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 640px;
    max-height: 1136;
    margin: 50px auto;
    padding: 20px;
    background-color: #1a1961;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container img {
    height: 50%;
    width: 100%;
    align-content: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #d67c14;
    text-align: justify;
    font-weight: bolder;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #c74375;
    color: #fff;
    padding: 15px;
    border: none;
    border-radius: 70px;
    cursor: pointer;
    text-align: center;
    font-size: larger;
  }
  
  button:hover {
    background-color: #c64114;
    transform: scale(1.1);
  }

  h1 {
    color: #c74375;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
  }


  h2 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    text-align: center;
  }

  h3 {
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
  }

  h5 {
    color: #b91740;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
  }
  
 p {
  color: #b91740;
  font-weight: bold;
 } 

 footer {
    color: #fff;
 }

 label {
    margin: 10px;
 }

  a:visited {
    color: rgb(206, 25, 145);
  }
  
